body, html {
    height: 100%;
    margin: 0;
    font: 400 15px/1.8 "Lato", sans-serif;
    color: #777;

    
}
/* para sacarle la barra de la derecha y que se vea mas como app */
body::-webkit-scrollbar {
    display: none;
}
.container_secondary_content {
    color: #777;
    background-color: white;
    text-align: center;
    padding: 50px 80px;
    text-align: justify;
}

.titulo_secondary_content {
    text-align: center;
}

.posicion_relativa {
    position: relative;
}

.containerTitle_sixth_content {
    color: #ddd;
    background-color: #282E34;
    text-align: center;
    padding: 50px 80px;
    text-align: justify;
}

.transparente {
    background-color: transparent;
    font-size: 25px;
    color: #f7f7f7;
}

.containerTitle_fourth_content {
    color: #ddd;
    background-color: #282E34;
    text-align: center;
    padding: 50px 80px;
    text-align: justify;
}

.background-img1, .background-img2, .background-img3, .background-img4, .background-img5, .background-img6,  .background-img7, .background-img8  {
    position: relative;
    opacity: 0.65;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.background-img1 {
    background-image: url("../img/bgimg1.jpg");
    min-height: 100%;
}

.background-img2 {
    background-image: url("../img/bgimg2.jpg");
    min-height: 400px;
}

.background-img3 {
    background-image: url("../img/bgimg3.jpg");
    min-height: 400px;
}
.background-img4 {
    background-image: url("../img/bgimg4.jpg");
    min-height: 400px;
}

.background-img5 {
    background-image: url("../img/bgimg5.jpg");
    min-height: 400px;
}
.background-img6 {
    background-image: url("../img/bgimg6.jpg");
    min-height: 400px;
}
.background-img7 {
    background-image: url("../img/bgimg7.png");
    min-height: 400px;
}
.background-img8 {
    background-image: url("../img/bgimg8.jpg");
    min-height: 400px;
}


.caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
}

.caption span.border {
    transition: 0.7s;
    background-color: #111;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
}

.caption span.border:hover {
    opacity: 0.65;
}

h3 {
    letter-spacing: 5px;
    font: 20px "Lato", sans-serif;
    color: #111;
}


.slideUp {
 
    


}

/*agregando cosas del nav*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    justify-items: center;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #4CAF50;
  }




/* Turn off parallax scrolling for tablets and phones */

@media only screen and (max-device-width: 1024px) {
    .background-img-1, .background-img-2, .background-img-3, .background-img4, .background-img5, .background-img6, .background-img7, .background-img8 {
        background-attachment: scroll;
    }
}
